.style-guide-nav {
  float: left;
  width: 30%;
}
.style-guide-nav ul.menu {
  padding: 0;
  margin: 0 0 1em 0;
}
.style-guide-nav ul.menu ul.menu {
  padding: 0 0 0 1em;
  margin: 0;
}
.style-guide-nav ul.menu li {
  margin: 0;
}

.style-guide-elements {
  float: left;
  width: 70%;
}
.style-guide-elements .demo {
  margin: 1em 0;
  padding: 0 2em;
}
.style-guide-elements fieldset.code > legend {
  cursor: pointer;
}
.style-guide-elements fieldset.code .content {
  display: none;
}
.style-guide-elements fieldset.code .content pre {
  margin: 0;
}

#menu-edit-item fieldset.code textarea {
  background: #eee;
  color: #000080;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 1em;
}

/**
 * Rules to support sticky navigation.
 */
.style-guide-nav.sticky {
  float: none;
  width: auto;
}
.style-guide-nav.sticky ul.menu.sticky {
  position: absolute;
  top: initial;
}
.style-guide-elements.sticky {
  margin-left: 30%;
}
